@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

input {
    border: 1px solid black;
}

.games-shadow {
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
}

.spin {
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.mobile-nav-shadow {
    box-shadow: -2px -1px 8px rgba(0, 0, 0, 0.25);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(360deg);
    }
}