@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

input {
    border: 1px solid black;
}

.games-shadow {
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
}